#container_end{
	/*width: 1200px;*/
	display: flex;
	flex-wrap: nowrap;
}

#float_left_end{
	flex: 50%;
	background-image: url(https://cutewallpaper.org/21/background-gif-html/15-CSS-Animated-Backgrounds-Pintire.gif);
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#float_right_end{
	flex: 50%;
	background-color: #ccfce2;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

}
/*lien he-------------------*/
#container_end1{
	display: flex;
	flex-wrap: wrap;

}
.item_info{
	/*flex: 50%;*/
	width: 50%;
	float: left;
	font-size: 20px;
}
.title_end{
	font-size: 26px;
	color: #ffb247;
	text-shadow: 5px -3px 5px #47ff8a;
	font-weight: 900;
}
/*lienhe*/
#lien_he{
	text-align: center;
	font-size: 35px;
	color: #4d47ff;


}
#fix_icons{
	width: 200px	;
}
.icons{
	padding-top: 400px;
	font-size: 40px;
	text-align: center;
}
/*cac thac mac*/
#thacmac{
	font-size: 33px;
	color: #ffb805;
	font-weight: 900;
}
body{
	background-color: #fcffe8;
}